<% if message.user == current_user %>
<li>
  <div class="message-data">
    <span class="message-data-name"><i class="fa fa-circle online"></i> <%= current_user.username %></span>
    <span class="message-data-time"><%= message.created_at.strftime("%H:%M") %></span>
  </div>
  <div class="message my-message">
    <%= message.body %>
  </div>
</li>

<% else %>
<li class="clearfix">
  <div class="message-data align-right">
    <span class="message-data-time" ><%= message.created_at.strftime("%H:%M") %></span> &nbsp; &nbsp;
    <span class="message-data-name" ><%= message.user.username %> <i class="fa fa-circle me"></i>
    
  </div>
  <div class="message other-message float-right">
    <%= message.body %>
  </div>
</li>
<% end %>