<h2 align="center"><%= @user.username %>'s profile</h2>
<div class="row">
  <div class="well">
    <div class="profile-view">
      <div class="profile-image">
        <%= image_tag @user.avatar.url %>
      </div>
      <div class="profile-stats">
        <h3>Wins: <%= @user.wins %></h3>
        <h3>Losses: <%= @user.losses %></h3>
        <h3>Registered since: <%= @user.created_at.to_formatted_s(:short) %></h3>
        <h3>Last signed in: <%= @user.last_sign_in_at.to_formatted_s(:short) %></h3>
      </div>
    </div>
  </div>
</div>