<% if logged_in? %>
  <div class="row">
    <div class="col-md-4">
      <div class="people-list" id="people-list">
        <div class="search">
          <input type="text" placeholder="search" />
          <i class="fa fa-search"></i>
        </div>
        <!-- User list -->
        <ul class="list">
          <% @users.each do |user| %>
            <% if user != current_user %>
              <li class="clearfix">
                <%= image_tag(user.avatar.url(:thumb), :class => "round-image-40") %>
                <div class="about">
                  <div class="name"><%= user.username %></div>
                  <div class="status">
                    <i class="fa fa-circle <%= user.online %>"></i> <%= user.online %>
                  </div>
                </div>
                <% if user.online == 'online' %>
                  <a><%= link_to "Battle", battlefield_path(:player_id => current_user.id, :enemy_id => user.id), method: :post, 
                  class: "btn btn-success btn-xs start-battle"%></a>
                  
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
        <!-- end user list -->
      </div>
    </div>
  </div>
<% else %>
  <h1> Welcome </h1>
<% end %>