<h1>Battlefield</h1>
<div class="chat col-md-2 col-md-offset-8">
      <div class="chat-header clearfix">
        <%= image_tag(@enemy.avatar.url(:thumb), :class => "round-image-40") %>
        <div class="chat-about">
          <div class="chat-with">Chat with <%= @enemy.username %></div>
        </div>
        <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->
      
      <div class="chat-history" id="chatbox_<%= @battle.id %>">
        <%= render @battle.messages %>
        <!-- sample messages
        <ul>
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
              <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
              
            </div>
            <div class="message other-message float-right">
              Hi Vincent, how are you? How is the project coming along?
            </div>
          </li>
          
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
              <span class="message-data-time">10:12 AM, Today</span>
            </div>
            <div class="message my-message">
              Are we meeting today? Project has been already finished and I have results to show you.
            </div>
          </li>
          -->
          
          
        </ul>
        
      </div> <!-- end chat-history -->
      
      <div class="chat-message clearfix">
        <!-- to delete    <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
        
        <button>Send</button>
        -->
        <%= form_for Message.new , method: :post do |f| %>
          <%= f.hidden_field :battle_id, :value => @battle.id %>
          <%= f.text_field :body %>
          <%= f.submit "Send" %>
        <% end %>

      </div> <!-- end chat-message -->
      
    </div> <!-- end chat -->
    
  </div> <!-- end container -->

