<div class="col-md-6">
  <h1 class="playing">Your turn</h1>

  <!--
  <div>
    < % #= button_to "attack", attack_path(@battle), class: "test", :remote => true %>
  </div> -->

    <div id="battle-fields ">
      <div id="leftBoard" class="board">

      </div>
      <div id="rightBoard" class="board">

      </div>
    </div>
    <!--
    <div class="enemy-message well">
      <% #= render 'show_board' %>
    </div>
    -->

</div>


<div class="chat col-md-3">

    <div class="chat-header clearfix">
      <%= image_tag(@enemy.avatar.url(:thumb), :class => "round-image-40") %>
      <div class="chat-about">
        <div class="chat-with">Chat with <%= @enemy.username %></div>
      </div>
      <i class="fa fa-star"></i>
    </div> <!-- end chat-header -->

    <div class="chat-history">
      <ul id="chatbox_<%= @battle.id %>">
        <%= render @battle.messages %>
      </ul>

    </div> <!-- end chat-history -->

    <div class="chat-message clearfix">
      <!-- to delete    <div class="chat-message clearfix">
      <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>

      <button>Send</button>
      -->
      <%= form_for Message.new , remote: true do |f| %>
        <%= f.hidden_field :battle_id, :value => @battle.id %>
        <%= f.text_area :body %>
        <%= f.submit "Send" %>
      <% end %>

    </div> <!-- end chat-message -->

</div> <!-- end chat -->


<%= subscribe_to battle_path(@battle) %>
<%= subscribe_to "/user_#{current_user.id}" %>