<div class="col-md-9" id="battle">
  <div id="info-div">

    <div id="messages"></div>
    <div id="btnGiveUp">
      <%= button_to "Give Up", finish_path(@battle), class: "btn btn-warning", :winner => false, :remote => true %>
    </div>
  </div>
  <div class="clearfix"></div>

  <div id="battle-field" class="" data-player-id="player_<%= current_user.id %>"
       data-enemy-id="player_<%= @enemy.id %>" data-battle-id="<%= @battle.id %>">

    <%= render partial: 'battles/player_board' %>
    <div id="player-board" class="board">

    </div>

    <div id="enemy-board" class="board">

    </div>
  </div>

</div>

<div class="col-md-3">
  <div class="chat">

    <div class="chat-header clearfix">
      <%= image_tag(@enemy.avatar.url(:thumb), :class => "round-image-40") %>
      <div class="chat-about">
        <div class="chat-with">Chat with <%= @enemy.username %></div>
      </div>
      <i class="fa fa-star"></i>
    </div> <!-- end chat-header -->

    <div class="chat-history">
      <ul id="chatbox_<%= @battle.id %>">
        <%= render @battle.messages %>
      </ul>

    </div> <!-- end chat-history -->

    <div class="chat-message clearfix">
      <%= form_for Message.new, remote: true do |f| %>
          <%= f.hidden_field :battle_id, :value => @battle.id %>
          <%= f.text_area :body %>
          <%= f.submit "Send" %>
      <% end %>
    </div> <!-- end chat-message -->

  </div> <!-- end chat -->
</div>

<%= subscribe_to battle_path(@battle) %>
<%= subscribe_to "/user_#{current_user.id}" %>